@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root {
  --text-color: #ffffff;
  --text-color-secondary: #45474B;
  --primary-color: #FF6600;
  --secondary-color: #ffffff;
  --background: #ffffff;
}

/* [data-theme="dark"] {
  --text-color: #1E201E;
  --primary-color: #17153B;
  --secondary-color: #03dac6;
  --button-background: #bb86fc;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 1rem;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}